@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }
  .subescribe-inbut {
    width: 398px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1100px;
  }
  .hamburder-btn {
    display: none;
  }
  .header-menu {
    display: flex;
    position: relative;
    gap: 40px;
  }

  .nav-container {
    justify-content: start;
  }
  .link-header {
    display: flex;
    position: relative;
    align-items: center;

    flex-direction: column;
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    margin-right: 120px;
  }
  .main-title-container {
    background-color: var(--background-second-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-tab.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    max-width: 1158px;
    margin: 0 auto;
    padding: 112px 0;
  }
  .main-title {
    font-size: 56px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-title-container {
      background-color: var(--background-second-color);
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg-tab-2x.jpg);
    }
  }
  .about-company-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;

    justify-content: center;
    margin: 0 auto;
  }
  .list-container {
    max-width: 356px;
    width: calc((100% - 24px) / 2);
  }
  .about-company-title {
    text-align: start;
  }
  .employee-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
  .team-div {
    max-width: 869px;
  }
  .team_list {
    width: calc((100% - 24px) / 2);
  }
  .customers {
    max-width: 770px;
    justify-content: center;
  }
  .customers-icons {
    gap: 72px 24px;
  }
  .customers-item {
    width: calc((100% - 48px) / 3);
    height: 88px;
    width: 168px;
  }
  .customers {
    margin: 0 auto;
  }
  .footer-container {
  }

  .footer-position {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    justify-content: start;
    margin: 0 auto;
    max-width: 768px;
    padding-left: 108px;
  }
  .footer-subscribe {
    flex-direction: row;
    gap: 24px;
  }
  .wrap-tablet {
  }
  .studio-social-media {
    margin: 0;
    align-items: start;
  }
  .fooret-logo-text {
    align-items: start;
    margin: 0;
  }
  .footer-subs-text {
    text-align: start;
  }
  .sbc-container {
    margin: 0;
  }
  .tam-soc-text {
    text-align: start;
  }
  .subescribe-inbut {
    width: 264px;
  }
  .button-container {
    flex-wrap: nowrap;
    max-width: 1158px;
    margin-bottom: 64px;
    justify-content: center;

    gap: 24px;
  }
  .menu-container {
    padding-top: 64px;
  }
  .menu-button {
    padding: 12px 24px;
  }
  .service-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .portfolio-cards {
    width: calc((100% - 24px) / 2);
    border: 1px solid #e7e9fc;
  }
}

/*------------------------------------1158px------------------------------*/
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .header-menu {
    gap: 40px;
  }
  .link-header {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    gap: 40px;
  }

  .logo {
    margin-left: 156px;
    margin-right: 0;
    margin-left: 0;
  }
  .nav-container {
    gap: 76px;
  }

  .main-title-container {
    background-color: var(--background-second-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-background.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    max-width: 100%;
    margin: 0 auto;
    padding: 188px 0;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-title-container {
      background-color: var(--background-second-color);
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-destop-2x.jpg);
    }
  }
  .about-company-container {
    gap: 24px;
  }
  .list-container {
    width: calc((100% - 72px) / 4);
    max-width: 264px;
    position: relative;
  }
  .about-company-title {
    font-size: 20px;
  }
  .position-svg-ac {
    display: flex;
  }
  .studio-section {
    display: flex;
  }
  .studio-services {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--text-color-second);
    text-align: center;
    width: 0 auto;
    margin-bottom: 72px;
  }
  .studio-services-container {
    display: flex;
    gap: 24px;
    margin-bottom: 120px;
    max-width: 1158px;
  }

  .studio-services-item {
    width: calc((100% - 48px) / 3);
  }
  .employee-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .team_list {
    width: calc((100% - 72px) / 4);
  }

  .customers {
    min-width: 1158px;
    padding-top: 120px;
  }
  .customers-icons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .customers-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
    width: 168px;
  }
  .customers-title {
  }
  .customer-container {
  }
  .footer-position {
    flex-wrap: nowrap;
    gap: 0;
    padding-left: 0;
    align-items: center;
    justify-content: center;
  }
  .fooret-logo-text {
    margin-right: 120px;
  }
  .footer-text {
    width: 264px;
  }
  .footer-social-ico {
    padding-left: 0;
  }
  .studio-social-media {
    justify-content: start;
    margin-right: 80px;
    max-width: 208px;
  }
  .subescribe-inbut {
    outline: transparent;

    border: 1px solid var(--white, #fff);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 264px;
    color: var(--background-color);
    padding-left: 16px;
    height: 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }
  .button-container {
    flex-wrap: nowrap;
    max-width: 1440px;
    margin-bottom: 72px;
    justify-content: center;

    gap: 24px;
  }
  .menu-container {
    padding-top: 100px;
  }
  .menu-button {
    padding: 12px 24px;
  }
  .service-container {
    gap: 48px 24px;
  }
  .portfolio-cards {
    width: calc((100% - 48px) / 3);
  }
  .cover-text {
    display: inline-block;
  }
}
